<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite1" thread-count="3" parallel="classes" >
    <test name="CheckBox" >
        <classes>
            <class name="CheckboxTests" />
        </classes>
    </test>

    <test name="RadioButton">
        <classes>
            <class name="RadioButtonTests">
            <methods>
                <include name="YesRadioButton" />
                <exclude name="NoRadioButton"></exclude>
            </methods>
        </class>
            </classes>
    </test>
</suite>